@using GMD.SarPlace.Dependencies;
@using GMD.SarPlace.Etities;
@{
    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    var userBll = DependencyResolver.Instance.usersLogic;
    var placeBll = DependencyResolver.Instance.placesLogic;
    User currentUser = null;
    if (User.Identity.IsAuthenticated)
    {
        currentUser = userBll.GetById(Guid.Parse(User.Identity.Name));
    }

    if (IsPost)
    {
        if (Request.Form["PassCheckInput"] != null && Request.Form["PassInput"] != null && Request.Form["PassCheckInput"] == currentUser.Password)
        {
            string createPassCheck = Request.Form["PassCheckInput"];
            string createPass = Request.Form["PassInput"];

            currentUser.Password = createPass;

            userBll.Edit(currentUser);

            Response.Redirect("/");
        }
        else if (Request.Form["PassCheckInput"] != null || Request.Form["PassInput"] != null)
        {
            <div class="alert alert-danger" role="alert">
                Некоторые поля пусты!
            </div>
        }
        else if (Request.Form["PassCheckInput"] != currentUser.Password)
        {
            <div class="alert alert-danger" role="alert">
                Пароль неверный!
            </div>
        }
        
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div>
            @if (User.Identity.IsAuthenticated && User.Identity.Name == Convert.ToString(currentUser.ID))
            {
                <div>
                    <form method="post" data-name="UserForm">
                        <fieldset>
                            <legend>Изменение пароля @currentUser.Name</legend>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Текущий пароль</span>
                                </div>
                                <input type="text" class="form-control" name="PassCheckInput"
                                       aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                            </div>

                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Новый пароль</span>
                                </div>
                                <textarea type="text" class="form-control" name="PassInput"
                                          aria-label="Small" aria-describedby="inputGroup-sizing-sm"></textarea>
                            </div>

                            <input type="submit" class="btn btn-light" value="Submit" />
                        </fieldset>
                    </form>
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    Please log in for that
                </div>
            }
        </div>
    </div>
</body>
</html>
